src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Zuora Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:zuora="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora http://repository.mulesoft.org/releases/org/mule/modules/mule-module-zuora/1.0/mule-zuora.xsd">

  <zuora:config username="username" password="password"
    endpoint="zuoraendpoint like https://apisandbox.zuora.com/apps/services/a/29.0" />

  <!--  <flow name="Subscribe">-->
  <!--
    <zuora:subscribe subscriptions-ref="#[variable:subscribtions]" />
  -->
  <!--  </flow>-->
<!---->

  <flow name="Create">
    <zuora:create type="Account">
      <zuora:zobjects>
        <zuora:zobject>
          <Name>foo</Name>
          <BillCycleDay>1</BillCycleDay>
          <AccountNumber>501</AccountNumber>
        </zuora:zobject>
      </zuora:zobjects>
    </zuora:create>
  </flow>

  <flow name="Generate">
    <zuora:generate type="Account">
      <zuora:zobjects>
        <zuora:zobject>
          <Name>foo</Name>
          <BillCycleDay>1</BillCycleDay>
          <AccountNumber>501</AccountNumber>
        </zuora:zobject>
      </zuora:zobjects>
    </zuora:generate>
  </flow>

  <flow name="Update">
    <zuora:update type="Account">
      <zuora:zobjects>
        <zuora:zobject>
          <Name>foo</Name>
          <BillCycleDay>1</BillCycleDay>
          <AccountNumber>501</AccountNumber>
        </zuora:zobject>
      </zuora:zobjects>
    </zuora:update>
  </flow>

  <flow name="Delete">
    <zuora:delete type="#[variable:type]">
      <zuora:ids>
        <zuora:id>459</zuora:id>
      </zuora:ids>
    </zuora:delete>
  </flow>

  <flow name="Find">
    <zuora:find zquery="#[header:queryString]" />
  </flow>

  <!--  <flow name="Amend">-->
  <!--    <zuora:amend amendaments-ref="#[header:amendamentsList]" />-->
  <!--  </flow>-->
<!---->
  <flow name="GetUserInfo">
    <zuora:get-user-info />
  </flow>


</mule>
