src/test/resources/payment-example.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule Zuora Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:zuora="http://www.mulesoft.org/schema/mule/zuora"
      xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
            http://www.mulesoft.org/schema/mule/zuora http://www.mulesoft.org/schema/mule/zuora/1.0/mule-zuora.xsd">

    <zuora:config username="${zuoraUsername}" 
                  password="${zuoraPassword}"
                  endpoint="https://apisandbox.zuora.com/apps/services/a/32.0" />

	<flow name="example">
		<zuora:create type="Payment">
			<zuora:zobjects>
				<zuora:zobject>
					<AccountID>#[map-payload:zAccount]</AccountID>
					<AppliedInvoiceAmount>#[map-payload:amount]</AppliedInvoiceAmount>
					<EffectiveDate>#[map-payload:effectiveDate]</EffectiveDate>
					<InvoiceNumber>#[variable:zuorainvoiceid?]</InvoiceNumber>
					<PaymentMethodID>#[map-payload:paymentMethodId]</PaymentMethodID>
					<ReferenceId>#[map-payload:refid]</ReferenceId>
					<Status>Processed</Status>
					<Type>External</Type>
				</zuora:zobject>
			</zuora:zobjects>
		</zuora:create>
	</flow>
</mule>